.plan-app-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    padding: 2rem;
    overflow: auto;
}

.plan-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #ddd;
    margin-bottom: 1rem;
    max-width: 300px;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.plan-card .most-popular {
    font-size: 15px;
    font-weight: 700;
    background-color: #9b59b6;
    color: #fff;
    padding: 0.25em 1rem;
    border-radius: 15px;
    text-transform: uppercase;
}

.plan-card.free {
    border-top: 6px solid #1abc9c;
}

.plan-card.basic {
    border-top: 6px solid #3498db;
}

.plan-card.medium {
    border-top: 6px solid #9b59b6;
}

.plan-card.pro {
    border-top: 6px solid #f1c40f;
}

.plan-card-description,
.plan-card-billing,
.plan-card-action {
    padding: 15px;
}

.plan-card-features ul{
    padding: 10px;
}

.plan-card-description h2 {
    font-size: 26px;
    margin-bottom: 0.5rem;
}

.plan-card-billing {
    background-color: #ecf0f1;
}

.plan-card-billing p {
    margin-bottom: 0.5rem;
}

.plan-card-billing .price {
    font-size: 32px;
    font-weight: 700;
}

.plan-card-features {
    min-height: 150px;
}

.plan-card-features ul li {
    margin-bottom: 0.5rem;
    list-style-type: none;
}

.plan-card-action>button {
    border: 3px solid #3498db;
    background-color: transparent;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 0;
    width: 100%;
    transition: 0.3s ease all;
}

.plan-card-action>button:hover {
    transition: 0.3s ease all;
    background-color: #3498db;
    color: #fff;
}