body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-of-bg: #F6F7FA;
  --main-bg: #ffffff;
  --link-color: #1E73E6;
  --nav-color: #38393B;
  --text-muted: #797a7c;
  --nav-active-link-bg: #F2F7FF;
  --highlight-head: white;
  --highlight-head-bg: black;
  --primary: #081351;
}

/* :root {
  --main-bg-of-bg: #01081c;
  --main-bg: #170c34;
  --link-color: #b7d5ff;
  --nav-color: #38393B;
  --text-muted: #797a7c;
  --nav-active-link-bg: #2c7af8;
} */


a:hover{
  color: var(--link-color);
}


.border-none{
  border: none !important;
}

.border-15{
  border-radius: 15px !important;
}

body, html{
  background-color: var(--main-bg-of-bg);
}

.cursor-pointer{
  cursor: pointer;
}

.thoseMiniFields{
  width: 50%!important;
}

.loader-h-100{
  min-height: 87vh!important;
}

.image-loader{
  width: 100px;
}

.btn-min-width{
  min-width: 80px!important;
}

@media only screen and (max-width: 950px) {
  .thoseMiniFields{
    width: 100%!important;
  }
}