

.createOrder-main{
    min-height: 400px;
    max-height: 401px;
    overflow-y: scroll;
}

.minwidthforthetableselect{
    min-width: 150px;
    max-width: 150px;
}

.mobileViewCreateOrder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}